@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

:root{
    --background-color: #333647;
    --pink-color:#f87652;
    --sec-color:#bbbbbb;
    --list-bg:#81818180;
    --card-bg: rgba(0,0,0,0.3);
}
h1,h2,h3,h4,h5,h6,p,span,td,a{
    cursor: pointer;
}
*{
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: rgba(0,0,0,0.8) !important;
}

/*nav bar styling */

.nav_section .navbar-brand{
    font-size: 25px;
    color: white;
}
.nav_section .navbar-brand span{
    color:var(--pink-color);
}

.nav_section .navbar-nav li{
    margin: 0px 8px;
}
.nav_section .navbar-nav li a{
    color: white !important;
    font-size: 15px;
}
canvas.particles-js-canvas-el{
   position: absolute;
    height: 100% !important;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1000;
    margin: 0px;
}
.nav_section .navbar-nav .nav-link::before{
    content: '';
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    transition: 0.5s;
}
.nav_section .navbar-nav .nav-link:hover::before{
    content: '';
    height: 2px;
    width: 17px;
    background-color: white;
}

.hero_section .row{
    display: flex;
    align-items: center;
    height: 100vh;
}
.hero_section .row h1,h2,h3,p{
    color: white;
}
.hero_section .row h3{
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
}
.hero_section .row h3::after{
    content: '';
    position: absolute;
    text-align: center;
    top: 10px;
    width: 90px;
    height: 2px;
    background-color: white;
    margin-left: 6px;
}
.hero_section .row h1{
    font-size: 65px;
    font-weight: 800;
}
.hero_section .row h2{
    font-size: 20px;
    font-weight: 100;
    margin: 8px 0px;
}
.hero_section .row p{
    font-size: 13px;
    margin-top:13px;
    line-height: 21px;
    color:var(--sec-color);
}
.hero_section .row button{
    border-radius: 10px;
    font-size: 19px;
    color: white;
    background: transparent;
    border-bottom:2px solid red;
    width: 113px;
    font-family: sans-serif;
}
.hero_section .row button:hover{
    width: 120px;
    height: 45px;
    animation: swing;
    animation-duration: 0.3s;
    border: 1px solid red;
    color:var(--pink-color);
    transition: 0.5s;
}
.hero_section .row img{
    width: 70%;
}

/* About us section */
.about_section{
    background-color: rgba(0,0,0,0.5);
    padding: 170px 0px;
}
.about_section #heading{
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 57px;

}
.about_section .lets_talk{
        color: white;
        font-weight: 400;
        margin-top: 20px;
}
.about_section #gmail{
    font-weight: 600;
    color: #f87652;
    font-size: 15px;
    margin-top: 35px;
    word-spacing: 6px;
}
.about_section .contact_info{
    margin-top: 35px;

}
.about_section .contact_info h5{
    color: white;
    font-size: 15px;
    font-weight: 400;
    word-spacing: 6px;
}
.about_section .about_me_right_section #txt{
    font-size: 15px;
    margin-top: 13px;
    line-height: 25px;
    color: var(--sec-color);
}
.about_section .about_me_right_section hr{
    margin: 0px;
    border: 1px solid #f87652;
    width: 8rem ;
}
.about_section .about_me_right_section td{
    border: none;
    color: white;
    font-size: 13px;
}
.about_section .about_me_right_section button{
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background: transparent;
    border:2px solid #f87652;
    font-family: sans-serif;
    margin-top: 10px;
}
.about_section .about_me_right_section button:hover{
    animation: swing;
    animation-duration: 0.5s;
    border:1px solid red;
    color: #f87652;
}

/*Skills section */

.skills_section{
    padding: 100px 0px;
    background: rgba(0,0,0,0.6);
}
.skills_section_left_section{
display: flex;
flex-direction: column;
justify-content: center;
}
.skills_section #heading{
    font-weight: 600;
    font-size: 50px;
}
.skills_section_left_section hr{
    border:0.5px solid var(--pink-color);
    width: 6rem;
    margin: 12px 0px;
}

.skills_section p{
    color: var(--sec-color);
    font-size: 13px;
}

.skills_section .social_media_icons .list-group-item{
    border: none;
    color: white;
    border-left: 4px solid #f87652;
    margin: 5px 0px;
    width: 208px;
    background: var(--list-bg);
    font-size: 14px;
}
.skills_section .social_media_icons .list-group-item a{
    transition: 0.3s;
}
.skills_section .social_media_icons .list-group-item:hover{
    margin-left: 10px;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}
.skills_section_right_section .each_skills{
    margin:25px 0px;
}
.skills_section_right_section .each_skills span{
    color: white;
    font-size: 14px;
}
.skills_section_right_section .each_skills .progress{
    background-color: rgba(0,0,0,0.4);
    border-radius: 100px;
    margin-top: 3px;
    height: 10px;
}
.skills_section_right_section .each_skills .progress-bar{
    background-color: var(--pink-color) !important;
    color: transparent;
}










@media (max-width:993px) and (min-width:763px){
    .about_section .about_me_right_section #txt{
        font-size: 12px;
    }
    .about_section #heading{
        font-size: 20px !important;
    }
}

@media (max-width:1200px) and (min-width:318px){
    .hero_section .row h1{
        font-size: 58px;
    }
}
@media (max-width:993px) and (min-width:763px){
    .hero_section .row h1{
        font-size: 42px;
    }
    .hero_section .row h2{
        font-size: 15px;
    }
}


/*portfolio section */

.portfolio_section{
    background: rgba(0,0,0,0.5);
    padding: 170px 0px;
}
.portfolio_section .nav-tabs{
    border: none;
    width:50%;
    text-align: center;
}
.portfolio_section .nav-tabs .nav-link.active{
    border: none;
    border-bottom: 2px solid var(--pink-color) !important;
    background: transparent;
    color: white;
}
.portfolio_section .nav-tabs .nav-link.active:hover{
    border-bottom: 2px solid var(--pink-color) !important;
}
.portfolio_section .nav-tabs .nav-item.show .nav-link{
    font-weight: 400;
    font-size: 14px;
    background: transparent !important;
}
.portfolio_section .nav-tabs .nav-link:hover{
    border:none;
}
.portfolio_section .tab-content .card img{
    border: 2px solid white;
}


/* blog  section */
.blogs_section{
    background: rgba(0,0,0,0.7);
    padding: 100px;
}
.blogs_section .card{
    background: var(--card-bg);
}
.blogs_section .card:hover{
    animation: pulse;
    animation-duration: 0.5s;
}
.blogs_section .card-body .title{
    font-size: 22px;
    font-weight: 500;
}
.blogs_section .card-body .data{
    font-size: 11px;
}
.blogs_section .card-body .txt{
    font-size: 12px;
    color: var(--sec-color);
}
.blogs_section .card-body a{
    color: var(--pink-color);
    font-size: 13px;
}


@media (max-width:1200px) and (min-width:318px){
    .blogs_section{
        padding: 40px;
        margin-top: 30px;
    }
}

@media (max-width:993px) and (min-width:763px)
{
    .blogs_section{
        margin-top: 30px;
        padding: 40px;
    }
}